/* Estilos personalizados para la navbar */
.custom-navbar {
    background-color: #052a61; /* mantiene el azul */
    padding: 0.9rem 0.5rem; /* más espacio vertical y horizontal */
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 13px; /* separa logo y texto */
    font-size: 1.2rem; /* agranda el texto */
    font-weight: 500; /* lo hace más grueso */
}

.navbar-brand img {
    width: 40px;  /* aumenta el tamaño del logo */
    height: auto;
}

.navbar-nav .nav-link {
    font-size: 1rem; /* agranda los enlaces */
    margin-left: 9px; /* separa un poco los items */
    font-family: 'ABeeZee', sans-serif';
}

/* Ajustes para pantallas chicas */
@media (max-width: 768px) {
.navbar-brand {
    font-size: 0.5rem; /* texto más chico */
    gap: 8px; /* menos separación */
}

.navbar-brand img {
    width: 26px; /* logo más chico */
}

.custom-navbar {
    padding: 0.5rem 0.1rem; /* menos padding en celular */
}
}


/* Estilo de whatsapp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}

/* Decoracion de seleccion */
.producto-decoration{
    text-decoration: none;
}

.producto-decoration:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Tipografias */
.logo-decoration {
    font-family: 'Amarante';
    font-size: 25px;
}

.parrafo-custom {
    font-family: 'PT Serif', serif;
    font-size: 15px;
    line-height: 1.6;
    padding-left: 15px;
}

.title-custom {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.subtitle-custom {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}

.parrafo-custom-footer {
    font-family: 'PT Serif', serif;
    font-size: 13px;
    line-height: 1.6;
}

.precio-custom {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

.parrafo-custom-comentario{
    font-family: 'PT Serif', serif;
    font-weight: 200;
    color: darkgray;
    font-size: 12px;
    line-height: 1.6;
}

.icono-custom {
    display: inline-block;
    align-items: center;
    gap: 8px; /* espacio entre ícono y texto */
}


/*Estilo del carrusel*/
#carouselExampleIndicators {
    padding: 10px 0;
    max-width: 400px; /* ajusta el ancho máximo del carrusel */
    margin: 0 auto;   
}

#carouselExampleIndicators .carousel-item img {
    width: 100%; /* hace que las imágenes ocupen todo el ancho del carrusel */
    height: auto; /* mantiene la proporción de las imágenes */
}

@media (max-width: 768px) {
    #carouselExampleIndicators {
        max-width: 300px;
        margin: 0 auto;
    }

}