/* Estilo para el navbar */
.custom-navbar {
    color: white;
    background-color: #003566;
}

/* Estilo de whatsapp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}

/* Decoracion de seleccion */
.producto-decoration{
    text-decoration: none;
}

.producto-decoration:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
